workflows/Action - publish to Pinterest.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create board",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Create Pin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Search board",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create board": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search board": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-29T14:08:37.391Z",
  "id": "Klm5FB0lJ4apuPWe",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Action - publish to Pinterest",
  "nodes": [
    {
      "parameters": {},
      "id": "7a69e196-1c84-4f52-8288-4f6b9aeb30ee",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -20,
        260
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "3b421cb6-ec3f-4406-8ea3-7be3f5a41ce9",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2020,
        260
      ]
    },
    {
      "parameters": {
        "content": "Search board: \nhttps://developers.pinterest.com/docs/api/v5/#tag/search",
        "height": 192.99766204427397,
        "width": 267.10522239351076
      },
      "id": "c7be1496-19c3-4fff-b85d-2deb4e8a05d4",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        740,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-sandbox.pinterest.com/v5/pins",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"title\": \"{{ $json.pinterest_post_title }}\", \"description\": \"{{ $json.pinterest_post_description }}\", \"board_id\": \"{{ $json.id }}\", \"media_source\": {\"source_type\": \"image_url\", \"url\": \"{{ $json.pinterest_image }}\"}} ",
        "options": {}
      },
      "id": "8024eb48-1a5e-452f-9e78-71176d65bdb6",
      "name": "Create Pin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2280,
        260
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "u2q8fHEXRh4InbSm",
          "name": "Pinterest Sandbox Oauth2 API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "pinterest_image",
              "stringValue": "={{ $json.pinterest_image }}"
            },
            {
              "name": "ad_account_id",
              "stringValue": "549767040555"
            }
          ]
        },
        "options": {}
      },
      "id": "57462484-3b0f-4d5a-8ad9-b9f43d5798fa",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        280,
        440
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "d5d4bd90-eba0-4662-8dfe-9c9b34c753fa",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        520,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-sandbox.pinterest.com/v5/boards",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.pinterest_board_name }}"
            },
            {
              "name": "description",
              "value": "={{ $json.pinterest_board_description || \" \" }}"
            },
            {
              "name": "privacy",
              "value": "PUBLIC"
            }
          ]
        },
        "options": {}
      },
      "id": "6232541c-e88a-4920-b08c-6fdab8d647e7",
      "name": "Create board",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        240,
        180
      ],
      "alwaysOutputData": false,
      "credentials": {
        "oAuth2Api": {
          "id": "u2q8fHEXRh4InbSm",
          "name": "Pinterest Sandbox Oauth2 API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://api.pinterest.com/v5/search/boards",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ad_account_id",
              "value": "={{ $json.ad_account_id }}"
            },
            {
              "name": "query",
              "value": "={{ $json.pinterest_board_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e7aefa29-9b53-4f58-99d0-c04193befbe8",
      "name": "Search board",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        820,
        -40
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "zhQSIwcM0QGBX5DB",
          "name": "Pinterest Oauth2 API - Production Limited"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "611ea089-e8c7-42fa-86b5-4fb36c4afaef",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1280,
        20
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "638a6b45-7400-43f5-8bfc-a730d488929c",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $json.pinterest_board_name }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4190916d-3301-42cc-a83b-f978d8a6f98c",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1520,
        -20
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "id": "ca5cbbc3-6388-47ad-919c-3b5d4e5a688b",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1020,
        -60
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-03-07T17:00:47.000Z",
  "versionId": "1b5a8db8-389e-47f4-a60a-623e677bacfb"
}