workflows/Action - Indexing via Google Search Console API.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Indexing - Google Console Search API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Form Trigger": {
      "main": [
        [
          {
            "node": "Indexing - Google Console Search API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Indexing - Google Console Search API": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2023-11-26T11:24:08.820Z",
  "id": "KpGzjZailbovROgs",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Action - Indexing via Google Search Console API",
  "nodes": [
    {
      "parameters": {},
      "id": "9eae8837-a79a-46c3-a20d-84c075dd5a6f",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        440,
        100
      ]
    },
    {
      "parameters": {
        "content": "**Reference:**\n1. Google URL Inspection API with Python https://www.jcchouinard.com/google-url-inspection-api-with-python/\n2. Google: Service Account https://docs.n8n.io/integrations/builtin/credentials/google/service-account/?utm_source=n8n_app&utm_medium=credential_settings&utm_campaign=create_new_credentials_modal",
        "height": 399,
        "width": 307.30328347485926
      },
      "id": "acbd01b5-71f0-446d-8618-847b3bffacaf",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "path": "81ca95bd-db87-4652-808f-932b1f568d2d",
        "formTitle": "Indexing your WordPress blog",
        "formDescription": "Input your blog URL which you want to index",
        "formFields": {
          "values": [
            {
              "fieldLabel": "post_permalink",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "d1051609-645c-4356-adc9-abccc6d43aec",
      "name": "n8n Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [
        440,
        300
      ],
      "webhookId": "81ca95bd-db87-4652-808f-932b1f568d2d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://searchconsole.googleapis.com/v1/urlInspection/index:inspect",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 AppleWebKit/537.36 (KHTML, like Gecko; compatible; Googlebot/2.1; +https://www.google.com/bot.html) Safari/537.36"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"siteUrl\": \"sc-domain:{{ $json.post_permalink.extractDomain().replace(\"www.\",\"\") }}\",\n  \"inspectionUrl\": \"{{ $json.post_permalink }}\",\n  \"languageCode\": \"en-US\"\n}",
        "options": {}
      },
      "id": "2a6bfa5f-6a34-4dc9-8a78-50bf2fce1e61",
      "name": "Indexing - Google Console Search API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        760,
        200
      ],
      "retryOnFail": false,
      "credentials": {
        "googleApi": {
          "id": "BRmLHfu8L0avSpXD",
          "name": "Google Search Console API"
        }
      },
      "notes": "Automatically send an indexing request via Google Search Console whenever a new post is published."
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-12-10T17:26:41.590Z",
      "updatedAt": "2023-12-10T17:26:41.590Z",
      "id": "5SSvEdjkNZEuIJ1k",
      "name": "action"
    },
    {
      "createdAt": "2023-12-10T17:31:34.521Z",
      "updatedAt": "2023-12-10T17:31:34.521Z",
      "id": "BRfKluWg5qi3cy1f",
      "name": "id-1"
    },
    {
      "createdAt": "2023-12-10T17:26:38.958Z",
      "updatedAt": "2023-12-10T17:26:38.958Z",
      "id": "s57hAO0IPCwEDIpV",
      "name": "wordpress"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-06-29T13:06:02.000Z",
  "versionId": "c6c71e7d-6260-495c-b412-90d2e99eae49"
}