workflows/Automate wordpress posting.json
{
  "active": true,
  "connections": {
    "When WordPress post is Published": {
      "main": [
        [
          {
            "node": "Extract blog title, post excerpt, url and thumbnail",
            "type": "main",
            "index": 0
          },
          {
            "node": "(Need Edit) Social media settings configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract blog title, post excerpt, url and thumbnail": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Publish to Telegram Channel - id: zto5ieWYNupvp5p5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Publish to facebook page - id: pPg5GT17OwiI4aSn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(Need Edit) Social media settings configuration": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Comment on the published post": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Share post to group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish a post at Facebook Page": {
      "main": [
        [
          {
            "node": "Comment on the published post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-11-18T12:03:51.967Z",
  "id": "DGhBDno2Dbkb8Ayn",
  "meta": null,
  "name": "Automate wordpress posting",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d27d9401-00b4-4be6-9f61-e1d82e47d65f",
        "options": {}
      },
      "id": "19fd047d-8d16-49e5-a5d2-f7db2d953445",
      "name": "When WordPress post is Published",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -60,
        -380
      ],
      "webhookId": "d27d9401-00b4-4be6-9f61-e1d82e47d65f"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "9af81525-1201-437c-b383-eea3ab462481",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        600,
        -360
      ]
    },
    {
      "parameters": {
        "include": "selected",
        "includeFields": "body.post_id, body.post.post_title, body.post.post_excerpt, body.post_permalink, body.post_thumbnail, body.post.post_date, body.post.post_content",
        "options": {}
      },
      "id": "1b3dc1c7-3921-4605-a209-dc8e9cef62f9",
      "name": "Extract blog title, post excerpt, url and thumbnail",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        240,
        -440
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "content": "Google Indexing API: \n\nhttps://community.n8n.io/t/google-indexing-workflow/25174\n\nhttps://developers.google.com/search/apis/indexing-api/v3/using-api\n\n"
      },
      "id": "d0b440fc-a4b6-4e49-951a-b87dc5c604f7",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        -320
      ]
    },
    {
      "parameters": {
        "workflowId": "pPg5GT17OwiI4aSn"
      },
      "id": "1b89cd2b-6b99-433a-bd63-2f0a038734fb",
      "name": "Publish to facebook page - id: pPg5GT17OwiI4aSn",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1120,
        -660
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": "zto5ieWYNupvp5p5"
      },
      "id": "a4886aa9-f559-4fee-b4b2-bd3d8e374ead",
      "name": "Publish to Telegram Channel - id: zto5ieWYNupvp5p5",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1120,
        -440
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": "iGmi85xkl2kLVMiT"
      },
      "id": "387958d8-bdfb-4506-9f36-d4be659d2787",
      "name": "Publish to reddit's subreddit - id: iGmi85xkl2kLVMiT",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1120,
        -220
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": "k7h45SUM7Ch0fgUI"
      },
      "id": "83522ffe-4782-49f9-9590-9426b84fc149",
      "name": "Publish post to Twitter - id: k7h45SUM7Ch0fgUI",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1120,
        -20
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "pet3gkr5nb0r329",
        "table": "md1pmox9bybc8vc",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Title",
              "fieldValue": "={{ $json.post_title }}"
            },
            {
              "fieldName": "Post permalink",
              "fieldValue": "={{ $json.post_permalink }}"
            },
            {
              "fieldName": "Thumbnail URL",
              "fieldValue": "={{ $json.post_thumbnail }}"
            },
            {
              "fieldName": "Post excerpt",
              "fieldValue": "={{ $json.post_excerpt }}"
            },
            {
              "fieldName": "Date published",
              "fieldValue": "={{ $json.post_date }}"
            },
            {
              "fieldName": "Post content",
              "fieldValue": "={{ $json.post_content }}"
            },
            {
              "fieldName": "Post ID",
              "fieldValue": "={{ $json.post_id }}"
            }
          ]
        }
      },
      "id": "7af0541d-6b93-40fc-8064-d04c30821b9e",
      "name": "Insert record of blog article",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1380,
        -880
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "lAHf5CVpXMWer3BZ",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "facebook_page_id",
              "stringValue": "171188196071772"
            },
            {
              "name": "facebook_group_ids",
              "type": "arrayValue",
              "arrayValue": "[\"1641689236149805\",\"aibusinesshackers\"]"
            },
            {
              "name": "telegram_channel_id",
              "stringValue": "-1002108829785"
            },
            {
              "name": "reddit_username",
              "stringValue": "=u_tys203831"
            },
            {
              "name": "subreddit",
              "type": "arrayValue",
              "arrayValue": "[\"test\",\"APItestSub\"]"
            },
            {
              "name": "twitter_username",
              "stringValue": "tan990220"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "41bbffc9-df2a-47a2-83e3-6123a9141566",
      "name": "(Need Edit) Social media settings configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        240,
        -240
      ]
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v17.0",
        "node": "={{ $json.post_id }}/comments",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "🚀 Unlock automation hacks & marketing insights to boost your work — join our Telegram channel now: https://bit.ly/3G2CRHM"
              }
            ]
          }
        }
      },
      "id": "755156ed-6dd3-4400-ba85-35482248dd0d",
      "name": "Comment on the published post",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1600,
        -1040
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "1FRGHU2tYENW2tV4",
          "name": "Facebook Graph account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v17.0",
        "node": "={{ $json.facebook_group_ids }}/feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "Hi"
              },
              {}
            ]
          }
        }
      },
      "id": "2f1f63b6-c101-4b1a-b6dd-1ff996cd5326",
      "name": "Share post to group",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1800,
        -900
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "1FRGHU2tYENW2tV4",
          "name": "Facebook Graph account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "id": "14cbe44a-d429-4111-bbce-784408044e2f",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1820,
        -1020
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "facebook_group_ids",
        "include": "selectedOtherFields",
        "fieldsToInclude": " id, post_permalink, post_id, facebook_page_id",
        "options": {}
      },
      "id": "9b620835-117a-494c-97c6-c5435efed7f4",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1560,
        -900
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v17.0",
        "node": "={{ $json.facebook_page_id }}/photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "url",
                "value": "={{ $json.post_thumbnail }}"
              },
              {
                "name": "message",
                "value": "={{ $json.post_title }}\n\n{{ $json.post_excerpt }}\n\nRead more here:  {{ $json.post_permalink }}"
              }
            ]
          }
        }
      },
      "id": "35151a94-d9ec-4808-bba0-12489f710ce8",
      "name": "Publish a post at Facebook Page",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1360,
        -1060
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "1FRGHU2tYENW2tV4",
          "name": "Facebook Graph account"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-11-25T15:41:09.000Z",
  "versionId": "9323336e-6535-4d3e-9a96-33f6cb1e5ba8"
}