workflows/Content moderation for InvestingNote's website.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-10-14T06:56:08.256Z",
  "id": "Hfmm6zNWEm8Uq3lL",
  "meta": null,
  "name": "Content moderation for InvestingNote's website",
  "nodes": [
    {
      "parameters": {},
      "id": "4731afb0-a506-42af-acc3-b254d28fc87b",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        600,
        160
      ]
    },
    {
      "parameters": {
        "operation": "moderate",
        "input": "={{ $json.formatted_body }}"
      },
      "id": "dd1b310a-7ffd-4337-aae1-98a96873b0a8",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1580,
        40
      ],
      "credentials": {
        "openAiApi": {
          "id": "1qydM4n5YZUXhwru",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "dccfb36f-6181-47c0-a76b-0e27eda83535",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        960,
        160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XnuODFh7pDzm9fh5",
          "name": "User Agent"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "url",
              "stringValue": "https://www.investingnote.com/rapi/v1/posts"
            }
          ]
        },
        "options": {}
      },
      "id": "3b4625b9-411e-4717-8daf-7d9695e9044b",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.1,
      "position": [
        780,
        160
      ]
    },
    {
      "parameters": {
        "height": 240.04634888995386,
        "width": 372.3215155119646
      },
      "id": "35b2f500-1668-4d64-9b5f-7c1d9adfb25c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        740,
        80
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "attributes.created_at,id,attributes.formatted_body,attributes.sponsored",
        "options": {
          "destinationFieldName": "created_at,post_id,formatted_body,sponsored"
        }
      },
      "id": "82c37ebe-98cb-426b-8687-a3df3bdd199a",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1400,
        40
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "476eb934-4ad9-440e-969d-bab5e556ec11",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1180,
        160
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "id": "6d6c2e2d-c358-49ca-8d03-33534ca69c3f",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        600,
        360
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cd9564cb-4762-4e98-b0d2-ebf0bb36676d",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        2040,
        140
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1b3b20da-fbfc-46e3-ab1c-46865ea72d34",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1140,
        400
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-10-14T08:02:16.549Z",
  "versionId": "82d31b1e-0d9c-4569-9823-eeb4ec5900b9"
}