workflows/Failed - Batch create bitly link.json
{
  "active": false,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "Bitly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bitly": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-29T06:20:12.727Z",
  "id": "0E7aDAqOi8YZlqRW",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Failed - Batch create bitly link",
  "nodes": [
    {
      "parameters": {
        "longUrl": "={{ $json.UTM_URL }}",
        "additionalFields": {
          "title": "={{ $json.Title }}"
        }
      },
      "id": "ed1cae12-25bb-4c97-8a1e-fbad9836606b",
      "name": "Bitly",
      "type": "n8n-nodes-base.bitly",
      "typeVersion": 1,
      "position": [
        940,
        360
      ],
      "executeOnce": false,
      "credentials": {
        "bitlyApi": {
          "id": "tFXcBnoXjlTb9pUQ",
          "name": "Bitly InvestingNote API"
        }
      }
    },
    {
      "parameters": {
        "fileFormat": "csv",
        "options": {}
      },
      "id": "a257b2d3-194b-4ac8-8e13-0adea86ef355",
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        720,
        360
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "3cd82846-db7e-45dd-b628-b1b8a5d769d8",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        480,
        360
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "7Uv0IshNNzK83Cj0",
          "name": "Jotform Query Auth "
        }
      }
    },
    {
      "parameters": {
        "content": "Public form: https://form.jotform.com/233638857096067\n\n*API Settings:*\nhttps://www.jotform.com/myaccount/api",
        "height": 302.7364470532872,
        "width": 344.46653008972487
      },
      "id": "a783631c-606b-4a71-b392-c39fd70a1509",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        220
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "85705c79-fa05-4129-8a64-423243833373",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1160,
        360
      ]
    },
    {
      "parameters": {},
      "id": "8e614a81-6279-4b10-b773-25176efc17f8",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        360
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:JotForm Trigger": {}
  },
  "tags": [
    {
      "createdAt": "2024-02-01T03:36:38.239Z",
      "updatedAt": "2024-02-01T03:36:38.239Z",
      "id": "YypyNZfSNsyVPDjM",
      "name": "otw"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-02-01T03:36:47.000Z",
  "versionId": "ce245c96-4709-4de7-b140-3ab299203005"
}