workflows/Failed - Content moderation for InvestingNote's website.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get current date & time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get current date & time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get current date & time": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Calc date of previous n-th days": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Calc date of previous n-th days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter out sponsored posts": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract last item": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    },
    "Merge2": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2023-10-14T06:56:08.256Z",
  "id": "Hfmm6zNWEm8Uq3lL",
  "meta": null,
  "name": "Failed - Content moderation for InvestingNote's website",
  "nodes": [
    {
      "parameters": {},
      "id": "4731afb0-a506-42af-acc3-b254d28fc87b",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        520,
        160
      ]
    },
    {
      "parameters": {
        "operation": "moderate",
        "input": "={{ $json.formatted_body }}"
      },
      "id": "dd1b310a-7ffd-4337-aae1-98a96873b0a8",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        2760,
        440
      ],
      "credentials": {
        "openAiApi": {
          "id": "1qydM4n5YZUXhwru",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "max_updated"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "dccfb36f-6181-47c0-a76b-0e27eda83535",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1160,
        60
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XnuODFh7pDzm9fh5",
          "name": "User Agent"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "days",
              "type": "numberValue",
              "numberValue": "0"
            },
            {
              "name": "url",
              "stringValue": "https://www.investingnote.com/rapi/v1/posts"
            }
          ]
        },
        "options": {}
      },
      "id": "3b4625b9-411e-4717-8daf-7d9695e9044b",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.1,
      "position": [
        780,
        160
      ]
    },
    {
      "parameters": {
        "content": "## Scrape posts from investingnote.com\nExample endpoint: https://www.investingnote.com/rapi/v1/posts?max_updated_at=2023-10-14+07%3A48%3A31+UTC&source=all",
        "height": 544.2208816525576,
        "width": 365.61178317161307
      },
      "id": "35b2f500-1668-4d64-9b5f-7c1d9adfb25c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        740,
        -20
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "attributes.created_at,attributes.updated_at,id,attributes.formatted_body,attributes.sponsored",
        "options": {
          "destinationFieldName": "created_at,updated_at,post_id,formatted_body,sponsored"
        }
      },
      "id": "82c37ebe-98cb-426b-8687-a3df3bdd199a",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1540,
        0
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "476eb934-4ad9-440e-969d-bab5e556ec11",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1360,
        20
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "id": "6d6c2e2d-c358-49ca-8d03-33534ca69c3f",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        540,
        380
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cd9564cb-4762-4e98-b0d2-ebf0bb36676d",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        2720,
        80
      ]
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $json.current_date }}",
        "duration": "={{ $json.days }}",
        "outputFieldName": "previous_date"
      },
      "id": "24ca9e69-c591-4132-ab69-e378f7d01ae6",
      "name": "Calc date of previous n-th days",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1180,
        280
      ]
    },
    {
      "parameters": {
        "outputFieldName": "current_date",
        "options": {
          "timezone": "Asia/Kuala_Lumpur"
        }
      },
      "id": "a8cce4bc-0439-43fa-8187-8dc583f3c41f",
      "name": "Get current date & time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        800,
        360
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "481dd86a-30ac-4ae8-8072-3967000f448e",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        980,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "dateTime": [
            {
              "value1": "={{ $json.updated_at }}",
              "value2": "={{ $json.previous_date }}"
            }
          ]
        }
      },
      "id": "aadfb1a3-daeb-464b-beac-acefa68c4adf",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1960,
        0
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "3c291002-c669-43c9-99ae-b8fb5c740856",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1620,
        240
      ],
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "chatId": "-1001678378433",
        "text": "It's successful",
        "additionalFields": {}
      },
      "id": "048cb265-bc7b-4581-a0c7-97d469409693",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2720,
        240
      ],
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "eyC8LOJJNwIz4ikW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.sponsored }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "0a01172d-7638-4173-8c01-5103dfbedb51",
      "name": "Filter out sponsored posts",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        2460,
        680
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "keep": "lastItems"
      },
      "id": "c2bd5831-fd4b-49f5-97e3-230969be4b86",
      "name": "Extract last item",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1760,
        40
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "max_updated_at",
              "stringValue": "={{ $json.updated_at }}"
            },
            {
              "name": "source",
              "stringValue": "all"
            }
          ]
        },
        "options": {}
      },
      "id": "f36e00e2-d3e5-4b46-b961-f14c98da32b1",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.1,
      "position": [
        2180,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "max_updated"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "4562834a-59ee-4d96-9cd9-92f30f1da7ce",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2420,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XnuODFh7pDzm9fh5",
          "name": "User Agent"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "e2ce7a42-88c8-4050-8600-0e0c18d7671e",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2160,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet items = $input.all();\nconst updated_at =  Date.parse(items[items.length - 1].json[\"updated_at\"]);\nconst previous_date = Date.parse(items[items.length-1].json[\"previous_date\"]);\n\nconsole.log(\"hello\");\nconsole.log(previous_date);\nconsole.log(updated_at);\nconsole.log(typeof updated_at);\nconsole.log(\"hello\");"
      },
      "id": "51a46f9e-a040-4f4c-98f5-58d21609dc9f",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        240
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-10-14T09:39:49.579Z",
  "versionId": "8e92c095-2a3c-4b7f-8621-5d757b484c0a"
}