workflows/KLCI Market Update Post.json
{
  "active": false,
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Get image template",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scrape top 5 gainers and losers from bursamarketplace",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get KLCI statistics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get image template": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract top 5 gainers & top 5 losers": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Add top 5 gainers & losers to the image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape top 5 gainers and losers from bursamarketplace": {
      "main": [
        [
          {
            "node": "Extract top 5 gainers & top 5 losers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get KLCI statistics": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add top 5 gainers & losers to the image": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Edit Image1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image1": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2023-10-13T14:14:57.686Z",
  "id": "u1FgP10Ngi8KHYJD",
  "name": "KLCI Market Update Post",
  "nodes": [
    {
      "parameters": {},
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -100,
        160
      ],
      "typeVersion": 1,
      "id": "222a3bf6-2c1d-4761-8802-fa4bc003ab14"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "a2721655-327d-4c2b-9ff2-ae1d1238159d",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -100,
        360
      ]
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "stock",
              "cssSelector": "div.tb_stck >a",
              "returnArray": true
            },
            {
              "key": "LAST",
              "cssSelector": "div.tb_cell.tb_chge.txt_up,div.tb_cell.tb_chge.txt_down",
              "returnArray": true
            },
            {
              "key": "CHG",
              "cssSelector": "div.tb_cell.tb_chge.txt_up,div.tb_cell.tb_chge.txt_down",
              "returnArray": true
            },
            {
              "key": "%CHG",
              "cssSelector": "div.tb_cell.tb_pchg.txt_up,div.tb_cell.tb_pchg.txt_down",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": true
        }
      },
      "id": "538ac06a-c8bb-483d-867c-45ca66a50751",
      "name": "Extract top 5 gainers & top 5 losers",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        580,
        360
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.imageData }}",
        "responseFormat": "file",
        "dataPropertyName": "bg",
        "options": {}
      },
      "name": "Get image template",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        460,
        160
      ],
      "typeVersion": 1,
      "id": "78c46f69-a1e8-4d88-a3e9-9a666ab4da10"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "imageData",
              "stringValue": "https://raw.githubusercontent.com/tan-yong-sheng/IN_automation/main/template/IN%20market%20update.png"
            },
            {
              "name": "top_5_gainers_and_losers",
              "stringValue": "https://www.bursamarketplace.com/index.php?tpl=themkt_securities"
            }
          ]
        },
        "options": {}
      },
      "id": "5cdece2d-415f-48e1-b0a0-691949f84fb1",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        160,
        260
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "493af3c1-451b-4a10-b963-046c14b3a68a",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        680,
        140
      ]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "-1001678378433",
        "binaryData": true,
        "binaryPropertyName": "bg",
        "additionalFields": {
          "caption": "Hi guys, it's market update!"
        }
      },
      "id": "dfe502bb-f398-443e-b870-a7f71f7e5be8",
      "name": "Send message to telegram channel",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1800,
        120
      ],
      "credentials": {
        "telegramApi": {
          "id": "eyC8LOJJNwIz4ikW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "1004394120",
        "binaryData": true,
        "binaryPropertyName": "bg",
        "additionalFields": {
          "caption": "Hi guys, it's market update in this bot!"
        }
      },
      "id": "94f60d33-9977-41d3-ab17-f102c846627d",
      "name": "Send message to telegram bot",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1840,
        420
      ],
      "credentials": {
        "telegramApi": {
          "id": "eyC8LOJJNwIz4ikW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "**How to find chat id for:**\ni) telegram channel - via getting the numbers from the url: https://web.telegram.org/a/#-1001678378433 (so in this case, the chat id will be -1001678378433).\n\nii) telegram bot - Refer https://diyusthad.com/2022/03/how-to-get-your-telegram-chat-id.html",
        "height": 692.5129573985971,
        "width": 325.99348534201954
      },
      "id": "5ff4c591-ceb1-4d1a-9b07-ada8d7ddffdd",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1760,
        -100
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.top_5_gainers_and_losers }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "options": {}
      },
      "id": "5bfab412-bd0d-48d3-a6f2-b95e9d03c017",
      "name": "Scrape top 5 gainers and losers from bursamarketplace",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        360
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XnuODFh7pDzm9fh5",
          "name": "User Agent"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.bursamarketplace.com/mkt/themarket",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "options": {}
      },
      "id": "aaf1bf63-d3a7-45fb-9848-91ef25c83e3f",
      "name": "Get KLCI statistics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        600
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XnuODFh7pDzm9fh5",
          "name": "User Agent"
        }
      }
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "market_index",
              "cssSelector": "div.stkCode > a",
              "returnArray": true
            },
            {
              "key": "index_%CHG",
              "cssSelector": "div.stkCode + div.pctg_chg",
              "returnArray": true
            },
            {
              "key": "index_CHG",
              "cssSelector": "div.stkCode + div.pctg_chg + div.chg",
              "returnArray": true
            },
            {
              "key": "index_price",
              "cssSelector": "div.stkCode + div.pctg_chg + div.chg + div.volume",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "12f68715-b1b8-4c6b-85b5-0e72d7367bb3",
      "name": "HTML",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        680,
        600
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "81c1bfe8-57b8-42d1-90ab-0e10fa9d3403",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        980,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.index_CHG[0] }}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "eb046a22-c5f1-42d5-942e-3ce9c866726a",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1120,
        380
      ]
    },
    {
      "parameters": {
        "operation": "multiStep",
        "dataPropertyName": "bg",
        "operations": {
          "operations": [
            {
              "operation": "text",
              "text": "={{ $json.index_price[0] }}",
              "fontSize": 46,
              "fontColor": "#fea72b",
              "positionX": 130,
              "positionY": 490,
              "font": "/usr/share/fonts/truetype/msttcorefonts/Arial_Black.ttf"
            },
            {
              "operation": "text",
              "text": "={{ $json.index_CHG[0] }}",
              "fontSize": 46,
              "fontColor": "#12b14b",
              "positionX": 470,
              "positionY": 490
            },
            {
              "operation": "text",
              "text": "={{ $json[\"index_%CHG\"][0] }}",
              "fontSize": 46,
              "fontColor": "#12b14b",
              "positionX": 760,
              "positionY": 490
            }
          ]
        },
        "options": {}
      },
      "id": "e29a3350-8b87-42bd-8676-5e038fb13911",
      "name": "Edit Image1",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        1300,
        260
      ]
    },
    {
      "parameters": {
        "operation": "multiStep",
        "dataPropertyName": "bg",
        "operations": {
          "operations": [
            {
              "operation": "text",
              "text": "={{ $json.stock[0] }}\n\n{{ $json.stock[1] }}\n\n{{ $json.stock[2] }}\n\n{{ $json.stock[3] }}\n\n{{ $json.stock[4] }}",
              "fontSize": 34,
              "positionX": 114,
              "positionY": 726,
              "font": "/usr/share/fonts/truetype/msttcorefonts/Arial_Bold.ttf"
            },
            {
              "operation": "text",
              "text": "=+{{ $json.LAST[0] }}\n\n+{{ $json.LAST[1] }}\n\n+{{ $json.LAST[2] }}\n\n+{{ $json.LAST[3] }}\n\n+{{ $json.LAST[4] }}",
              "fontSize": 34,
              "fontColor": "#12b14b",
              "positionX": 334,
              "positionY": 726,
              "font": "/usr/share/fonts/truetype/msttcorefonts/Arial_Bold.ttf"
            },
            {
              "operation": "text",
              "text": "={{ $json.stock[5] }}\n\n{{ $json.stock[6] }}\n\n{{ $json.stock[7] }}\n\n{{ $json.stock[8] }}\n\n{{ $json.stock[9] }}",
              "fontSize": 34,
              "positionX": 624,
              "positionY": 726
            },
            {
              "operation": "text",
              "text": "={{ $json.LAST[5] }}\n\n{{ $json.LAST[6] }}\n\n{{ $json.LAST[7] }}\n\n{{ $json.LAST[8] }}\n\n{{ $json.LAST[9] }}",
              "fontSize": 34,
              "fontColor": "#f14d3f",
              "positionX": 844,
              "positionY": 726
            }
          ]
        },
        "options": {}
      },
      "id": "d39edfa6-702a-49a8-8d0e-846e5b66cf83",
      "name": "Add top 5 gainers & losers to the image",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        860,
        160
      ]
    },
    {
      "parameters": {
        "operation": "multiStep",
        "dataPropertyName": "bg",
        "operations": {
          "operations": [
            {
              "operation": "text",
              "text": "={{ $json.index_price[0] }}",
              "fontSize": 46,
              "fontColor": "#fea72b",
              "positionX": 130,
              "positionY": 490,
              "font": "/usr/share/fonts/truetype/msttcorefonts/Arial_Black.ttf"
            },
            {
              "operation": "text",
              "text": "={{ $json.index_CHG[0] }}",
              "fontSize": 46,
              "fontColor": "#f14d3f",
              "positionX": 470,
              "positionY": 490
            },
            {
              "operation": "text",
              "text": "={{ $json[\"index_%CHG\"][0] }}",
              "fontSize": 46,
              "fontColor": "#f14d3f",
              "positionX": 760,
              "positionY": 490
            }
          ]
        },
        "options": {}
      },
      "id": "ded19262-6fcf-4e30-ba8e-03aece626efc",
      "name": "Edit Image",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        1300,
        500
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-10-13T18:12:10.229Z",
  "versionId": "d6cb99e9-e682-4d0a-88af-d5a252bbdbf5"
}