workflows/KLCI Market Update Post.json
{
  "active": true,
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Get sector statistics",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get image template",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scrape top 5 gainers and losers from bursamarketplace",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get KLCI statistics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get image template": {
      "main": [
        [
          {
            "node": "Merge json data with binary data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract top 5 gainers & top 5 losers": {
      "main": [
        [
          {
            "node": "Merge json data with binary data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Scrape top 5 gainers and losers from bursamarketplace": {
      "main": [
        [
          {
            "node": "Extract top 5 gainers & top 5 losers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add top 5 gainers & losers to the image": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Add KLCI market data stats to post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Set color to green",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set color to red",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set color to red": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set color to green": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get KLCI statistics": {
      "main": [
        [
          {
            "node": "Extract KLCI stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sector statistics": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract KLCI stats": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add KLCI market data stats to post": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "Send message to telegram channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge json data with binary data": {
      "main": [
        [
          {
            "node": "Add top 5 gainers & losers to the image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-11-18T08:54:48.206Z",
  "id": "IwyAVgmXPO0mjFng",
  "meta": null,
  "name": "KLCI Market Update Post",
  "nodes": [
    {
      "parameters": {},
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1160,
        460
      ],
      "typeVersion": 1,
      "id": "6b36e423-a459-4f60-961f-fb71d29d2ca7"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                2,
                3,
                4,
                5
              ],
              "triggerAtHour": 12,
              "triggerAtMinute": 35
            },
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                2,
                3,
                4,
                5
              ],
              "triggerAtHour": 17,
              "triggerAtMinute": 5
            }
          ]
        }
      },
      "id": "581e9fe6-ca06-4389-af54-e55e02b2c8d3",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1140,
        680
      ]
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "stock",
              "cssSelector": "div.tb_stck >a",
              "returnArray": true
            },
            {
              "key": "LAST",
              "cssSelector": "div.tb_cell.tb_chge.txt_up,div.tb_cell.tb_chge.txt_down",
              "returnArray": true
            },
            {
              "key": "CHG",
              "cssSelector": "div.tb_cell.tb_chge.txt_up,div.tb_cell.tb_chge.txt_down",
              "returnArray": true
            },
            {
              "key": "%CHG",
              "cssSelector": "div.tb_cell.tb_pchg.txt_up,div.tb_cell.tb_pchg.txt_down",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": true
        }
      },
      "id": "74e6e10f-bc27-4fa1-a355-c3de71fef4c9",
      "name": "Extract top 5 gainers & top 5 losers",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        -360,
        620
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.imageData }}",
        "responseFormat": "file",
        "dataPropertyName": "bg",
        "options": {
          "timeout": 20000
        }
      },
      "name": "Get image template",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -560,
        480
      ],
      "typeVersion": 1,
      "id": "47209d44-7aae-4b02-ba57-9ae8606c2d48",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "imageData",
              "stringValue": "https://raw.githubusercontent.com/tan-yong-sheng/n8n/master/img/IN%20market%20update.png"
            },
            {
              "name": "top_5_gainers_and_losers",
              "stringValue": "https://www.bursamarketplace.com/index.php?tpl=themkt_securities"
            },
            {
              "name": "klci_stats",
              "stringValue": "https://www.bursamarketplace.com/mkt/themarket"
            }
          ]
        },
        "options": {}
      },
      "id": "033991b4-6868-487f-b97b-503056f9d356",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -860,
        580
      ]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "-1001678378433",
        "binaryData": true,
        "binaryPropertyName": "bg",
        "additionalFields": {
          "caption": "Hi guys, it's market update!"
        }
      },
      "id": "6c6d74db-e3b9-479a-9d57-7ed4d091ec55",
      "name": "Send message to telegram channel",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1460,
        640
      ],
      "credentials": {
        "telegramApi": {
          "id": "pj6044qZWUZTzUOL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Social media automation",
        "height": 692.5129573985971,
        "width": 601.2513846348166
      },
      "id": "2cdfa92c-e916-4d7b-995b-5a107d30f6db",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1140,
        320
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.top_5_gainers_and_losers }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "id": "c1621c55-c37b-411c-a4d3-f67af2807417",
      "name": "Scrape top 5 gainers and losers from bursamarketplace",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -560,
        640
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "SgLXGsDdW20ccsDE",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "3d619496-afc6-4428-8548-fbe3ec25d89b",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        500,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.index_CHG[0] }}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "8abf8c38-5655-4e6b-913c-c994c38906d6",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -200,
        960
      ]
    },
    {
      "parameters": {
        "operation": "multiStep",
        "dataPropertyName": "bg",
        "operations": {
          "operations": [
            {
              "operation": "text",
              "text": "={{ $json.stock[0] }}\n\n{{ $json.stock[1] }}\n\n{{ $json.stock[2] }}\n\n{{ $json.stock[3] }}\n\n{{ $json.stock[4] }}",
              "fontSize": 34,
              "positionX": 114,
              "positionY": 726,
              "font": "/usr/share/fonts/truetype/msttcorefonts/Arial_Bold.ttf"
            },
            {
              "operation": "text",
              "text": "=+{{ $json.LAST[0] }}\n\n+{{ $json.LAST[1] }}\n\n+{{ $json.LAST[2] }}\n\n+{{ $json.LAST[3] }}\n\n+{{ $json.LAST[4] }}",
              "fontSize": 34,
              "fontColor": "#12b14b",
              "positionX": 334,
              "positionY": 726,
              "font": "/usr/share/fonts/truetype/msttcorefonts/Arial_Bold.ttf"
            },
            {
              "operation": "text",
              "text": "={{ $json.stock[5] }}\n\n{{ $json.stock[6] }}\n\n{{ $json.stock[7] }}\n\n{{ $json.stock[8] }}\n\n{{ $json.stock[9] }}",
              "fontSize": 34,
              "positionX": 624,
              "positionY": 726
            },
            {
              "operation": "text",
              "text": "={{ $json.LAST[5] }}\n\n{{ $json.LAST[6] }}\n\n{{ $json.LAST[7] }}\n\n{{ $json.LAST[8] }}\n\n{{ $json.LAST[9] }}",
              "fontSize": 34,
              "fontColor": "#f14d3f",
              "positionX": 844,
              "positionY": 726
            }
          ]
        },
        "options": {}
      },
      "id": "d7a89458-bd21-4c41-bb02-3e0f155ba456",
      "name": "Add top 5 gainers & losers to the image",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        380,
        620
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "color",
              "stringValue": "#f14d3f"
            }
          ]
        },
        "options": {}
      },
      "id": "0738f6fe-c97a-4e20-beee-42c2107ff3c0",
      "name": "Set color to red",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        0,
        1020
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "color",
              "stringValue": "#12b14b"
            }
          ]
        },
        "options": {}
      },
      "id": "0dc0e9bc-4aa6-4013-8b17-734127973ba6",
      "name": "Set color to green",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        0,
        860
      ]
    },
    {
      "parameters": {
        "content": "## KLCI data stats",
        "height": 332.05698987409846,
        "width": 772.4378295370383
      },
      "id": "fb8f7e70-aaab-47f5-b6eb-bad96c9939f5",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -620,
        840
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.klci_stats }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "id": "a83ccccb-b74c-444c-b1be-cdf8a3e1e15a",
      "name": "Get KLCI statistics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -560,
        960
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "SgLXGsDdW20ccsDE",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "sector",
              "cssSelector": "table#MainContent2_tbStockWithAlphabet > tbody > tr > td:nth-child(2) > span > a",
              "returnArray": true
            },
            {
              "key": "sector_%CHG",
              "cssSelector": "table#MainContent2_tbStockWithAlphabet > tbody > tr > td:nth-child(7)",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "d30fd7a5-4847-4c96-97ef-19cf4ac9125a",
      "name": "HTML1",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        -380,
        1300
      ]
    },
    {
      "parameters": {
        "url": "=https://www.malaysiastock.biz/Market-Watch.aspx?type=C&value=BURSA-INDICES",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "id": "f999b316-cfbc-45a9-8be0-6291a28dcff6",
      "name": "Get sector statistics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -560,
        1300
      ],
      "retryOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "SgLXGsDdW20ccsDE",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "market_index",
              "cssSelector": "div.stkCode > a",
              "returnArray": true
            },
            {
              "key": "index_%CHG",
              "cssSelector": "div.stkCode + div.pctg_chg",
              "returnArray": true
            },
            {
              "key": "index_CHG",
              "cssSelector": "div.stkCode + div.pctg_chg + div.chg",
              "returnArray": true
            },
            {
              "key": "index_price",
              "cssSelector": "div.stkCode + div.pctg_chg + div.chg + div.volume",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "31f61358-202d-4a25-81a8-f93a75c99646",
      "name": "Extract KLCI stats",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        -380,
        960
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "aabab1bc-2e31-4451-9529-b9c80b9e86fb",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        820,
        1100
      ]
    },
    {
      "parameters": {
        "operation": "multiStep",
        "dataPropertyName": "bg",
        "operations": {
          "operations": [
            {
              "operation": "text",
              "text": "Construction\n\nTechnology\n\nFinancial Services\n\nProperty\n\nEnergy",
              "fontSize": 42,
              "positionX": 114,
              "positionY": 1275,
              "font": "/usr/share/fonts/truetype/msttcorefonts/Arial_Bold.ttf"
            },
            {
              "operation": "text",
              "text": "={{ $json[\"sector_%CHG\"][2] }}%",
              "fontSize": 42,
              "fontColor": "={{ $json[\"color\"][2] }}",
              "positionX": 820,
              "positionY": 1275
            },
            {
              "operation": "text",
              "text": "={{ $json[\"sector_%CHG\"][3] }}%",
              "fontSize": 42,
              "fontColor": "={{ $json[\"color\"][3] }}",
              "positionX": 820,
              "positionY": 1370,
              "font": "/usr/share/fonts/truetype/msttcorefonts/Arial_Bold.ttf"
            },
            {
              "operation": "text",
              "text": "={{ $json[\"sector_%CHG\"][4] }}%",
              "fontSize": 42,
              "fontColor": "={{ $json[\"color\"][4] }}",
              "positionX": 820,
              "positionY": 1465,
              "font": "/usr/share/fonts/truetype/msttcorefonts/Arial_Bold.ttf"
            },
            {
              "operation": "text",
              "text": "={{ $json[\"sector_%CHG\"][5] }}%",
              "fontSize": 42,
              "fontColor": "={{ $json[\"color\"][5] }}",
              "positionX": 820,
              "positionY": 1560,
              "font": "/usr/share/fonts/truetype/msttcorefonts/Arial_Bold.ttf"
            },
            {
              "operation": "text",
              "text": "={{ $json[\"sector_%CHG\"][8] }}%",
              "fontSize": 42,
              "fontColor": "={{ $json[\"color\"][8] }}",
              "positionX": 820,
              "positionY": 1655,
              "font": "/usr/share/fonts/truetype/msttcorefonts/Arial_Bold.ttf"
            }
          ]
        },
        "options": {}
      },
      "id": "52217928-41dd-45e8-bf86-e15a5f308c81",
      "name": "Edit Image",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        980,
        1000
      ]
    },
    {
      "parameters": {
        "operation": "multiStep",
        "dataPropertyName": "bg",
        "operations": {
          "operations": [
            {
              "operation": "text",
              "text": "={{ $json.index_price[0] }}",
              "fontSize": 46,
              "fontColor": "#fea72b",
              "positionX": 130,
              "positionY": 490,
              "font": "/usr/share/fonts/truetype/msttcorefonts/Arial_Black.ttf"
            },
            {
              "operation": "text",
              "text": "={{ $json.index_CHG[0] }}",
              "fontSize": 46,
              "fontColor": "={{ $json.color }}",
              "positionX": 470,
              "positionY": 490
            },
            {
              "operation": "text",
              "text": "={{ $json[\"index_%CHG\"][0] }}",
              "fontSize": 46,
              "fontColor": "={{ $json.color }}",
              "positionX": 760,
              "positionY": 490
            }
          ]
        },
        "options": {}
      },
      "id": "ec73bb0a-65e5-4412-ab3c-9d13ce9ba140",
      "name": "Add KLCI market data stats to post",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        620,
        1020
      ]
    },
    {
      "parameters": {
        "content": "# Scrape & Transform data",
        "height": 1168.0104657579943,
        "width": 805.653668440722
      },
      "id": "17128480-7f88-419c-ad5b-9a4c3f34c430",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -660,
        320
      ]
    },
    {
      "parameters": {
        "content": "## Sector data stats",
        "height": 253.2776498925171,
        "width": 625.7452654334037
      },
      "id": "4b1fba2b-a9ed-4a6f-a973-f2198197fa9d",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -620,
        1200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet items = $input.all();\n\n// Assuming 'sector_%CHG' is an array in the first item\nitems[0].json.color = items[0].json[\"sector_%CHG\"].map(item => (parseFloat(item) > 0 ? \"green\" : \"red\"));\n\nreturn items;"
      },
      "id": "4a248b77-3a7f-4afa-815d-5fb57f56cfa3",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        1300
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "f7edb3a4-8a7e-4cf9-ab56-f17b841c9b72",
      "name": "Merge json data with binary data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        220,
        480
      ],
      "notesInFlow": false
    },
    {
      "parameters": {
        "content": "# Merge data & Edit Image",
        "height": 1047.2183599305008,
        "width": 905.0062906031442
      },
      "id": "6b953214-bc2d-4b44-ac2b-b42cc3ca39a8",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        320
      ]
    },
    {
      "parameters": {
        "content": "## Top 5 gainers & losers",
        "height": 390.90496201498024,
        "width": 685.5107502406686
      },
      "id": "2f80d783-16a8-42eb-8ef6-9c3c965f36da",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -600,
        419
      ]
    },
    {
      "parameters": {
        "content": "## Telegram\n**How to find chat id for:**\ni) telegram channel - via getting the numbers from the url: https://web.telegram.org/a/#-1001678378433 (so in this case, the chat id will be -1001678378433).\n\nii) telegram bot - Refer https://diyusthad.com/2022/03/how-to-get-your-telegram-chat-id.html",
        "height": 559.3297578376718,
        "width": 527.9520702775047
      },
      "id": "54733d25-f8e8-4f1d-9e9d-8384dc850bf4",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1160,
        420
      ]
    },
    {
      "parameters": {
        "content": "# Created by Tan Yong Sheng",
        "height": 80,
        "width": 627.0206354874701
      },
      "id": "df233820-d221-4eef-a444-4cc022d0ce55",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        180
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9b25f4e1-333d-4807-bba8-8c6ef2f754c2",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1000,
        1240
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "text": "Date as of ",
        "options": {}
      },
      "id": "111be47c-641d-4289-b8f4-af8483387cb2",
      "name": "Edit Image1",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        1380,
        1040
      ]
    },
    {
      "parameters": {},
      "id": "facdaedb-0097-4a7a-b54f-553db4d120db",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1180,
        1140
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-11-22T03:07:18.000Z",
  "versionId": "47b17af6-51a0-465a-a834-63d6de1444be"
}