workflows/KLCI Market Update Post.json
{
  "active": true,
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Get sector statistics",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get image template",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scrape top 5 gainers and losers from bursamarketplace",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get KLCI statistics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get image template": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract top 5 gainers & top 5 losers": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Add top 5 gainers & losers to the image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape top 5 gainers and losers from bursamarketplace": {
      "main": [
        [
          {
            "node": "Extract top 5 gainers & top 5 losers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add top 5 gainers & losers to the image": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Add KLCI market data stats to post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Set color to green",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set color to red",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set color to red": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set color to green": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get KLCI statistics": {
      "main": [
        [
          {
            "node": "Extract KLCI stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sector statistics": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract KLCI stats": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add KLCI market data stats to post": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "Send message to telegram channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-10-13T14:14:57.686Z",
  "id": "u1FgP10Ngi8KHYJD",
  "meta": null,
  "name": "KLCI Market Update Post",
  "nodes": [
    {
      "parameters": {},
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -100,
        160
      ],
      "typeVersion": 1,
      "id": "222a3bf6-2c1d-4761-8802-fa4bc003ab14"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                2,
                3,
                4,
                5
              ],
              "triggerAtHour": 17,
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "id": "a2721655-327d-4c2b-9ff2-ae1d1238159d",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -100,
        360
      ]
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "stock",
              "cssSelector": "div.tb_stck >a",
              "returnArray": true
            },
            {
              "key": "LAST",
              "cssSelector": "div.tb_cell.tb_chge.txt_up,div.tb_cell.tb_chge.txt_down",
              "returnArray": true
            },
            {
              "key": "CHG",
              "cssSelector": "div.tb_cell.tb_chge.txt_up,div.tb_cell.tb_chge.txt_down",
              "returnArray": true
            },
            {
              "key": "%CHG",
              "cssSelector": "div.tb_cell.tb_pchg.txt_up,div.tb_cell.tb_pchg.txt_down",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": true
        }
      },
      "id": "538ac06a-c8bb-483d-867c-45ca66a50751",
      "name": "Extract top 5 gainers & top 5 losers",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.imageData }}",
        "responseFormat": "file",
        "dataPropertyName": "bg",
        "options": {}
      },
      "name": "Get image template",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        460,
        160
      ],
      "typeVersion": 1,
      "id": "78c46f69-a1e8-4d88-a3e9-9a666ab4da10"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "imageData",
              "stringValue": "https://raw.githubusercontent.com/tan-yong-sheng/IN_automation/main/template/IN%20market%20update.png"
            },
            {
              "name": "top_5_gainers_and_losers",
              "stringValue": "https://www.bursamarketplace.com/index.php?tpl=themkt_securities"
            },
            {
              "name": "klci_stats",
              "stringValue": "https://www.bursamarketplace.com/mkt/themarket"
            }
          ]
        },
        "options": {}
      },
      "id": "5cdece2d-415f-48e1-b0a0-691949f84fb1",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        160,
        260
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "493af3c1-451b-4a10-b963-046c14b3a68a",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        860,
        240
      ]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "-1001678378433",
        "binaryData": true,
        "binaryPropertyName": "bg",
        "additionalFields": {
          "caption": "Hi guys, it's market update!"
        }
      },
      "id": "dfe502bb-f398-443e-b870-a7f71f7e5be8",
      "name": "Send message to telegram channel",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2249,
        480
      ],
      "credentials": {
        "telegramApi": {
          "id": "eyC8LOJJNwIz4ikW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "1004394120",
        "binaryData": true,
        "binaryPropertyName": "bg",
        "additionalFields": {
          "caption": "Hi guys, it's market update in this bot!"
        }
      },
      "id": "94f60d33-9977-41d3-ab17-f102c846627d",
      "name": "Send message to telegram bot",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2249,
        700
      ],
      "credentials": {
        "telegramApi": {
          "id": "eyC8LOJJNwIz4ikW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "**How to find chat id for:**\ni) telegram channel - via getting the numbers from the url: https://web.telegram.org/a/#-1001678378433 (so in this case, the chat id will be -1001678378433).\n\nii) telegram bot - Refer https://diyusthad.com/2022/03/how-to-get-your-telegram-chat-id.html",
        "height": 692.5129573985971,
        "width": 275.2679088489618
      },
      "id": "5ff4c591-ceb1-4d1a-9b07-ada8d7ddffdd",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2180,
        220
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.top_5_gainers_and_losers }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "options": {}
      },
      "id": "5bfab412-bd0d-48d3-a6f2-b95e9d03c017",
      "name": "Scrape top 5 gainers and losers from bursamarketplace",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XnuODFh7pDzm9fh5",
          "name": "User Agent"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "81c1bfe8-57b8-42d1-90ab-0e10fa9d3403",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1320,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.index_CHG[0] }}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "eb046a22-c5f1-42d5-942e-3ce9c866726a",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        820,
        640
      ]
    },
    {
      "parameters": {
        "operation": "multiStep",
        "dataPropertyName": "bg",
        "operations": {
          "operations": [
            {
              "operation": "text",
              "text": "={{ $json.stock[0] }}\n\n{{ $json.stock[1] }}\n\n{{ $json.stock[2] }}\n\n{{ $json.stock[3] }}\n\n{{ $json.stock[4] }}",
              "fontSize": 34,
              "positionX": 114,
              "positionY": 726,
              "font": "/usr/share/fonts/truetype/msttcorefonts/Arial_Bold.ttf"
            },
            {
              "operation": "text",
              "text": "=+{{ $json.LAST[0] }}\n\n+{{ $json.LAST[1] }}\n\n+{{ $json.LAST[2] }}\n\n+{{ $json.LAST[3] }}\n\n+{{ $json.LAST[4] }}",
              "fontSize": 34,
              "fontColor": "#12b14b",
              "positionX": 334,
              "positionY": 726,
              "font": "/usr/share/fonts/truetype/msttcorefonts/Arial_Bold.ttf"
            },
            {
              "operation": "text",
              "text": "={{ $json.stock[5] }}\n\n{{ $json.stock[6] }}\n\n{{ $json.stock[7] }}\n\n{{ $json.stock[8] }}\n\n{{ $json.stock[9] }}",
              "fontSize": 34,
              "positionX": 624,
              "positionY": 726
            },
            {
              "operation": "text",
              "text": "={{ $json.LAST[5] }}\n\n{{ $json.LAST[6] }}\n\n{{ $json.LAST[7] }}\n\n{{ $json.LAST[8] }}\n\n{{ $json.LAST[9] }}",
              "fontSize": 34,
              "fontColor": "#f14d3f",
              "positionX": 844,
              "positionY": 726
            }
          ]
        },
        "options": {}
      },
      "id": "d39edfa6-702a-49a8-8d0e-846e5b66cf83",
      "name": "Add top 5 gainers & losers to the image",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        1060,
        280
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "color",
              "stringValue": "#f14d3f"
            }
          ]
        },
        "options": {}
      },
      "id": "5cafbf3f-f5a2-4394-9ac2-bdace288e30a",
      "name": "Set color to red",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1020,
        700
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "color",
              "stringValue": "#12b14b"
            }
          ]
        },
        "options": {}
      },
      "id": "82ce8e4a-9a49-4e2c-a11d-be02f0c70975",
      "name": "Set color to green",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1040,
        540
      ]
    },
    {
      "parameters": {
        "content": "## KLCI data stats",
        "height": 332.05698987409846,
        "width": 829.4849377995633
      },
      "id": "9492ef02-9ca6-4aa4-a4b8-2bfa3eeb95d6",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        520
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.klci_stats }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "options": {}
      },
      "id": "73fae106-2b3b-4015-a2cc-09fce93a87d1",
      "name": "Get KLCI statistics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        640
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XnuODFh7pDzm9fh5",
          "name": "User Agent"
        }
      }
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "sector",
              "cssSelector": "table#MainContent2_tbStockWithAlphabet > tbody > tr > td:nth-child(2) > span > a",
              "returnArray": true
            },
            {
              "key": "sector_%CHG",
              "cssSelector": "table#MainContent2_tbStockWithAlphabet > tbody > tr > td:nth-child(7)",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "4bdf7b1c-c849-44a7-84a9-6083dd330d50",
      "name": "HTML1",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        660,
        980
      ]
    },
    {
      "parameters": {
        "url": "=https://www.malaysiastock.biz/Market-Watch.aspx?type=C&value=BURSA-INDICES",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "options": {}
      },
      "id": "64a69f0a-3c8d-411e-8247-c2ded409f22e",
      "name": "Get sector statistics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        980
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XnuODFh7pDzm9fh5",
          "name": "User Agent"
        }
      }
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "market_index",
              "cssSelector": "div.stkCode > a",
              "returnArray": true
            },
            {
              "key": "index_%CHG",
              "cssSelector": "div.stkCode + div.pctg_chg",
              "returnArray": true
            },
            {
              "key": "index_CHG",
              "cssSelector": "div.stkCode + div.pctg_chg + div.chg",
              "returnArray": true
            },
            {
              "key": "index_price",
              "cssSelector": "div.stkCode + div.pctg_chg + div.chg + div.volume",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "12f68715-b1b8-4c6b-85b5-0e72d7367bb3",
      "name": "Extract KLCI stats",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        640,
        640
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "f0c4d9a3-0d0d-43d1-afe9-f7100ab6cc80",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1700,
        740
      ]
    },
    {
      "parameters": {
        "operation": "multiStep",
        "dataPropertyName": "bg",
        "operations": {
          "operations": [
            {
              "operation": "text",
              "text": "Construction\n\nTechnology\n\nFinancial Services\n\nProperty\n\nEnergy",
              "fontSize": 42,
              "positionX": 114,
              "positionY": 1275,
              "font": "/usr/share/fonts/truetype/msttcorefonts/Arial_Bold.ttf"
            },
            {
              "operation": "text",
              "text": "={{ $json[\"sector_%CHG\"][2] }}%",
              "fontSize": 42,
              "positionX": 820,
              "positionY": 1275
            },
            {
              "operation": "text",
              "text": "={{ $json[\"sector_%CHG\"][3] }}%",
              "fontSize": 42,
              "positionX": 820,
              "positionY": 1370,
              "font": "/usr/share/fonts/truetype/msttcorefonts/Arial_Bold.ttf"
            },
            {
              "operation": "text",
              "text": "={{ $json[\"sector_%CHG\"][4] }}%",
              "fontSize": 42,
              "positionX": 820,
              "positionY": 1465,
              "font": "/usr/share/fonts/truetype/msttcorefonts/Arial_Bold.ttf"
            },
            {
              "operation": "text",
              "text": "={{ $json[\"sector_%CHG\"][5] }}%",
              "fontSize": 42,
              "positionX": 820,
              "positionY": 1560,
              "font": "/usr/share/fonts/truetype/msttcorefonts/Arial_Bold.ttf"
            },
            {
              "operation": "text",
              "text": "={{ $json[\"sector_%CHG\"][8] }}%",
              "fontSize": 42,
              "positionX": 820,
              "positionY": 1655,
              "font": "/usr/share/fonts/truetype/msttcorefonts/Arial_Bold.ttf"
            }
          ]
        },
        "options": {}
      },
      "id": "891cd75f-dac6-477c-add1-9b48474ea140",
      "name": "Edit Image",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        1900,
        740
      ]
    },
    {
      "parameters": {
        "operation": "multiStep",
        "dataPropertyName": "bg",
        "operations": {
          "operations": [
            {
              "operation": "text",
              "text": "={{ $json.index_price[0] }}",
              "fontSize": 46,
              "fontColor": "#fea72b",
              "positionX": 130,
              "positionY": 490,
              "font": "/usr/share/fonts/truetype/msttcorefonts/Arial_Black.ttf"
            },
            {
              "operation": "text",
              "text": "={{ $json.index_CHG[0] }}",
              "fontSize": 46,
              "fontColor": "={{ $json.color }}",
              "positionX": 470,
              "positionY": 490
            },
            {
              "operation": "text",
              "text": "={{ $json[\"index_%CHG\"][0] }}",
              "fontSize": 46,
              "fontColor": "={{ $json.color }}",
              "positionX": 760,
              "positionY": 490
            }
          ]
        },
        "options": {}
      },
      "id": "e29a3350-8b87-42bd-8676-5e038fb13911",
      "name": "Add KLCI market data stats to post",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        1520,
        620
      ]
    },
    {
      "parameters": {
        "content": "## Top 5 gainers & losers",
        "height": 391.0831818017074,
        "width": 814.8898669213212
      },
      "id": "5bd0f444-a45e-4c69-b774-99c41cb8f18a",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        93.81705099537197
      ]
    },
    {
      "parameters": {
        "content": "## Sector data stats",
        "height": 332.05698987409846,
        "width": 829.4849377995633
      },
      "id": "76cf3771-68cd-46ea-b85e-df845cb75d65",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        880
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-10-14T03:32:53.502Z",
  "versionId": "7840afec-fb09-46fc-9c95-de0147e0d5d5"
}