workflows/Langchain n8n contest v2.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google PaLM Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google PaLM Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-10-29T15:53:55.550Z",
  "id": "BTjdV55kBTPYcz6i",
  "meta": null,
  "name": "Langchain n8n contest v2",
  "nodes": [
    {
      "parameters": {},
      "id": "ab47380a-9f82-4c9a-9f94-b0c696c87e48",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        960,
        380
      ]
    },
    {
      "parameters": {
        "url": "https://github.com/tan-yong-sheng/business_analytics/raw/main/Homework%20-%20Self/n8n%20langchain%20contest/Digital%20Marketing%20Analytics%20(SuperCheeky.inc).xlsx",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "eee83d27-7728-4463-83c1-8164d7774d37",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        340,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XnuODFh7pDzm9fh5",
          "name": "User Agent"
        }
      }
    },
    {
      "parameters": {
        "fileFormat": "xls",
        "options": {}
      },
      "id": "277f92c3-2a22-428c-ae02-6bd9adf6492e",
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        560,
        -40
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_analytics",
          "mode": "list",
          "cachedResultName": "n8n_analytics"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Campaign": "={{ $json.Campaign }}",
            "Click": "={{ $json.Click }}",
            "Conversion": "={{ $json.Conversion }}",
            "Platform": "={{ $json.Platform }}",
            "Feedback": "={{ $json.Feedback }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Click",
              "displayName": "Click",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conversion",
              "displayName": "Conversion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Campaign",
              "displayName": "Campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {
          "connectionTimeout": 30,
          "queryBatching": "independently",
          "skipOnConflict": true,
          "replaceEmptyStrings": true
        }
      },
      "id": "d872255e-d9d4-48ee-89ee-e70dda6b539f",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        740,
        -40
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "K8OqNSpixmvSwtcB",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3665007c-7287-48f4-a415-9bfc1dc79117",
      "name": "Google PaLM Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatGooglePalm",
      "typeVersion": 1,
      "position": [
        720,
        0
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "sKkbB4Bd0Z3UQIET",
          "name": "GooglePaLMApi account"
        }
      }
    },
    {
      "parameters": {
        "agent": "sqlAgent",
        "dataSource": "postgres",
        "input": "which campaign has the highest conversion?",
        "options": {}
      },
      "id": "6baf4fe5-4d09-4ef9-9f1b-1e3673a05158",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        980,
        -40
      ],
      "credentials": {
        "postgres": {
          "id": "K8OqNSpixmvSwtcB",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "dff475be-40fb-434f-bcc9-51ff2e1f308f",
      "name": "Google PaLM Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGooglePalm",
      "typeVersion": 1,
      "position": [
        1300,
        420
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "sKkbB4Bd0Z3UQIET",
          "name": "GooglePaLMApi account"
        }
      }
    },
    {
      "parameters": {
        "agent": "sqlAgent",
        "dataSource": "postgres",
        "input": "which campaign has the highest conversion?",
        "options": {}
      },
      "id": "2e2b204c-1a90-432e-ae34-3ee2f59772f7",
      "name": "Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        1480,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "K8OqNSpixmvSwtcB",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-10-31T15:07:36.950Z",
  "versionId": "8f67effe-38eb-4890-91c2-486f85d6e110"
}