workflows/Publish to reddit's subreddit.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Publish post to reddit profile",
            "type": "main",
            "index": 0
          },
          {
            "node": "split subreddit list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split subreddit list": {
      "main": [
        [
          {
            "node": "Publish post to other subreddits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish post to reddit profile": {
      "main": [
        [],
        []
      ]
    },
    "Publish post to other subreddits": {
      "main": [
        [],
        []
      ]
    }
  },
  "createdAt": "2023-11-18T17:54:45.099Z",
  "id": "iGmi85xkl2kLVMiT",
  "meta": null,
  "name": "Publish to reddit's subreddit",
  "nodes": [
    {
      "parameters": {},
      "id": "4ae8a9fd-44ea-471f-9bb1-bb05a7f4a110",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        180
      ]
    },
    {
      "parameters": {
        "content": "Share to profile page first, then:",
        "height": 248.4491162300426
      },
      "id": "99ba185f-6b62-4a9e-a922-034b67ec80cb",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        82.52649868778866
      ]
    },
    {
      "parameters": {
        "content": "Post to other subreddits",
        "height": 235.58818129505798,
        "width": 471.5048088113573
      },
      "id": "18d72a4b-6ee7-4c76-b8eb-b695a53d22b5",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        380,
        340
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "subreddit",
        "include": "selectedOtherFields",
        "fieldsToInclude": "post_title, post_excerpt, post_permalink, post_thumbnail",
        "options": {}
      },
      "id": "a38acabc-c5cf-4d32-8e67-9b9ddd17c05c",
      "name": "split subreddit list",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        480,
        400
      ]
    },
    {
      "parameters": {
        "subreddit": "={{ $json.subreddit }}",
        "title": "={{ $json.post_title }}",
        "text": "={{ $json.post_excerpt }}\n\nRead more: {{ $json.post_permalink }} "
      },
      "id": "3f75ab9a-ec35-40fb-a9d1-b0bf22366bcd",
      "name": "Publish post to other subreddits",
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        680,
        400
      ],
      "credentials": {
        "redditOAuth2Api": {
          "id": "whsuKkkbz95KIlEO",
          "name": "Reddit account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "subreddit": "={{ $json.reddit_profile }}",
        "title": "={{ $json.post_title }}",
        "text": "={{ $json.post_excerpt }}\n\nRead more: {{ $json.post_permalink }} "
      },
      "id": "6699375d-b77d-48c7-840a-ec35ee60281d",
      "name": "Publish post to reddit profile",
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        460,
        140
      ],
      "executeOnce": false,
      "credentials": {
        "redditOAuth2Api": {
          "id": "whsuKkkbz95KIlEO",
          "name": "Reddit account"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-11-26T16:00:08.000Z",
  "versionId": "8d62b5ea-0c47-4748-80e3-7b063980dd02"
}