workflows/Publish to reddit's subreddit.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Publish post to reddit profile",
            "type": "main",
            "index": 0
          },
          {
            "node": "split subreddit list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split subreddit list": {
      "main": [
        [
          {
            "node": "Publish post to other subreddits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-11-18T17:54:45.099Z",
  "id": "iGmi85xkl2kLVMiT",
  "meta": null,
  "name": "Publish to reddit's subreddit",
  "nodes": [
    {
      "parameters": {},
      "id": "4ae8a9fd-44ea-471f-9bb1-bb05a7f4a110",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        180
      ]
    },
    {
      "parameters": {
        "content": "Share to profile page first, then:",
        "height": 270.97561491783125
      },
      "id": "99ba185f-6b62-4a9e-a922-034b67ec80cb",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        80
      ]
    },
    {
      "parameters": {
        "content": "crosspost to other subreddit\n\nhttps://www.reddit.com/r/redditdev/comments/myvvr8/is_it_possible_to_crosspost_via_the_reddit_api/\nhttps://www.reddit.com/r/redditdev/comments/k1lo76/how_to_make_simple_submit_post_to_reddit_api/",
        "height": 321.1888763086548,
        "width": 746.3280928023789
      },
      "id": "18d72a4b-6ee7-4c76-b8eb-b695a53d22b5",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        900,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth.reddit.com/api/submit",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "redditOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "kind",
              "value": "link"
            },
            {
              "name": "title",
              "value": "={{ $json.post_title }}"
            },
            {
              "name": "sr",
              "value": "={{ $json.subreddit }}"
            },
            {
              "name": "nsfw",
              "value": "False"
            },
            {
              "name": "text",
              "value": "={{ $json.post_excerpt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ee2bdcf8-a5d5-46ce-94ec-d2c6e40c84a6",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        820,
        -180
      ],
      "credentials": {
        "redditOAuth2Api": {
          "id": "whsuKkkbz95KIlEO",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "subreddit": "={{ $json.reddit_profile }}",
        "title": "={{ $json.post_title }}",
        "text": "={{ $json.post_excerpt }}\n\nRead more: {{ $json.post_permalink }} "
      },
      "id": "6699375d-b77d-48c7-840a-ec35ee60281d",
      "name": "Publish post to reddit profile",
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        480,
        180
      ],
      "executeOnce": false,
      "credentials": {
        "redditOAuth2Api": {
          "id": "whsuKkkbz95KIlEO",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "subreddit": "={{ $json.subreddit }}",
        "title": "={{ $json.post_title }}",
        "text": "={{ $json.post_excerpt }}\n\nRead more: {{ $json.post_permalink }} "
      },
      "id": "3f75ab9a-ec35-40fb-a9d1-b0bf22366bcd",
      "name": "Publish post to other subreddits",
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        680,
        400
      ],
      "credentials": {
        "redditOAuth2Api": {
          "id": "whsuKkkbz95KIlEO",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "subreddit",
        "include": "selectedOtherFields",
        "fieldsToInclude": "post_title, post_excerpt, post_permalink, post_thumbnail",
        "options": {}
      },
      "id": "a38acabc-c5cf-4d32-8e67-9b9ddd17c05c",
      "name": "split subreddit list",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        480,
        400
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-11-19T02:40:55.000Z",
  "versionId": "1b5515f6-6215-43b1-bca4-a2cf26928881"
}