workflows/Query Single Article - QnA Chain.json
{
  "active": false,
  "connections": {
    "Workflow Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Google PaLM Language Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-13T12:54:47.625Z",
  "id": "bC0IZ14CJMmWIfON",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Query Single Article - QnA Chain",
  "nodes": [
    {
      "parameters": {
        "workflowId": "ygDp8PuCFfZMib5f",
        "fields": {
          "values": [
            {
              "name": "post_slug",
              "stringValue": "={{ $json.post_slug }}"
            }
          ]
        }
      },
      "id": "a97969f6-7b19-4e92-bdff-8dd48eaa5515",
      "name": "Workflow Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverWorkflow",
      "typeVersion": 1,
      "position": [
        700,
        680
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "44d91c37-a80c-4f00-aa1d-3c7b799a333a",
      "name": "Google PaLM Language Model",
      "type": "@n8n/n8n-nodes-langchain.lmGooglePalm",
      "typeVersion": 1,
      "position": [
        560,
        680
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "9mgBMYFAFRrImmEw",
          "name": "GooglePaLMApi account"
        }
      }
    },
    {
      "parameters": {
        "content": "When people asked any questions on current articles they visited",
        "height": 346.41894762574043,
        "width": 466.7776888643028
      },
      "id": "04141b70-a090-420e-9086-a106b462c42e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        480
      ]
    },
    {
      "parameters": {},
      "id": "0f89cd41-dcbc-4be1-b017-f4c7779fbf49",
      "name": "Question and Answer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.1,
      "position": [
        560,
        520
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "da458c05-dc3e-41aa-9327-e62324b5e72a",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1020,
        480
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5d2b4c0a-74d7-4d7c-a6e0-ed575eeb0005",
        "options": {}
      },
      "id": "1b879a54-cd3a-4f39-a6bc-df4d7be5bada",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        600
      ],
      "webhookId": "5d2b4c0a-74d7-4d7c-a6e0-ed575eeb0005"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-12-13T12:08:54.022Z",
      "updatedAt": "2023-12-13T12:08:54.022Z",
      "id": "4UxfwpmCTNXoN4Xc",
      "name": "chat"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-04-20T12:12:55.000Z",
  "versionId": "6d0bda5f-e543-45d3-ad87-33359eb0c752"
}