workflows/Trigger - When WordPress is created.json
{
  "active": true,
  "connections": {
    "When WordPress post is Published": {
      "main": [
        [
          {
            "node": "Extract blog title, post excerpt, url and thumbnail",
            "type": "main",
            "index": 0
          },
          {
            "node": "(Need Edit) Social media settings configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract blog title, post excerpt, url and thumbnail": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(Need Edit) Social media settings configuration": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Action - Indexing via Google Search Console API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Action - Share WordPress Post to Social Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert record of blog article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-11-18T12:03:51.967Z",
  "id": "DGhBDno2Dbkb8Ayn",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Trigger - When WordPress is created",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d27d9401-00b4-4be6-9f61-e1d82e47d65f",
        "options": {}
      },
      "id": "19fd047d-8d16-49e5-a5d2-f7db2d953445",
      "name": "When WordPress post is Published",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -360,
        -360
      ],
      "webhookId": "d27d9401-00b4-4be6-9f61-e1d82e47d65f"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "9af81525-1201-437c-b383-eea3ab462481",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        220,
        -360
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "method",
              "stringValue": "webhook"
            },
            {
              "name": "pinterest_image",
              "stringValue": "={{ $json.data.acf_data.pinterest_image.url}}"
            },
            {
              "name": "pinterest_board_name",
              "stringValue": "={{ $json.data.post_meta.pinterest_board_name[0] }}"
            }
          ]
        },
        "include": "selected",
        "includeFields": "body.post.ID, body.post.post_title, body.post.post_excerpt, body.post_permalink, body.post_thumbnail, body.post.post_date, body.post.post_content, body.post_meta.rank_math_description, body.post_meta.rank_math_focus_keyword",
        "options": {}
      },
      "id": "1b3dc1c7-3921-4605-a209-dc8e9cef62f9",
      "name": "Extract blog title, post excerpt, url and thumbnail",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -100,
        -460
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "content": "Automatically send an indexing request via Google Search Console whenever a new post is published\n",
        "height": 243.41568770771266,
        "width": 318.86917622057223
      },
      "id": "d0b440fc-a4b6-4e49-951a-b87dc5c604f7",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        -300
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "facebook_page_id",
              "stringValue": "171188196071772"
            },
            {
              "name": "facebook_group_ids",
              "type": "arrayValue",
              "arrayValue": "[\"1641689236149805\",\"aibusinesshackers\"]"
            },
            {
              "name": "telegram_channel_id",
              "stringValue": "-1002108829785"
            },
            {
              "name": "reddit_username",
              "stringValue": "=u_tys203831"
            },
            {
              "name": "subreddit",
              "type": "arrayValue",
              "arrayValue": "[]"
            },
            {
              "name": "twitter_username",
              "stringValue": "tan990220"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "41bbffc9-df2a-47a2-83e3-6123a9141566",
      "name": "(Need Edit) Social media settings configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -100,
        -220
      ]
    },
    {
      "parameters": {
        "workflowId": "vrgIebglf07DHKaE",
        "options": {}
      },
      "id": "ecc5606d-64e7-491f-af92-33dfe2963609",
      "name": "Action - Share WordPress Post to Social Post",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        560,
        -560
      ]
    },
    {
      "parameters": {
        "workflowId": "KpGzjZailbovROgs",
        "options": {}
      },
      "id": "e0a4da3e-4ea6-4280-95d4-09532469c4b9",
      "name": "Action - Indexing via Google Search Console API",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        560,
        -240
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "Share WordPress to various Social Media Platform",
        "height": 222.00254137058863,
        "width": 297.4560298834482
      },
      "id": "5c3763de-ba85-48b4-8909-67216b486209",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        -600
      ]
    },
    {
      "parameters": {
        "content": "Insert article records to Database",
        "height": 210.34269651706822,
        "width": 319.56727866308063
      },
      "id": "8c8ca42b-9a30-4661-8286-24321581eab1",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        20
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "pp2jcxnyx15ptoe",
        "table": "mw8lz6ly4jou5g1",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Title",
              "fieldValue": "={{ $json.post_title }}"
            },
            {
              "fieldName": "Permalink",
              "fieldValue": "={{ $json.post_permalink }}"
            },
            {
              "fieldName": "Thumbnail URL",
              "fieldValue": "={{ $json.post_thumbnail }}"
            },
            {
              "fieldName": "Excerpt",
              "fieldValue": "={{ $json.post_excerpt }}"
            },
            {
              "fieldName": "Post ID",
              "fieldValue": "={{ $json.ID }}"
            },
            {
              "fieldName": "Published Date",
              "fieldValue": "={{ $json.post_date }}"
            },
            {
              "fieldName": "Meta Description",
              "fieldValue": "={{ $json.rank_math_description[0] }}"
            },
            {
              "fieldName": "Content",
              "fieldValue": "={{ $json.post_content }}"
            },
            {
              "fieldName": "Focus Keywords",
              "fieldValue": "={{ $json.rank_math_focus_keyword[0].split(\",\") }}"
            }
          ]
        }
      },
      "id": "0523806a-c308-485d-b48f-a52fe256d0e7",
      "name": "Insert record of blog article",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        560,
        80
      ],
      "executeOnce": false,
      "credentials": {
        "nocoDbApiToken": {
          "id": "lAHf5CVpXMWer3BZ",
          "name": "NocoDB Token account"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-12-10T17:31:34.521Z",
      "updatedAt": "2023-12-10T17:31:34.521Z",
      "id": "BRfKluWg5qi3cy1f",
      "name": "id-1"
    },
    {
      "createdAt": "2023-12-10T17:26:58.523Z",
      "updatedAt": "2023-12-10T17:26:58.523Z",
      "id": "LJ3uQ8V8cEQRSH0W",
      "name": "trigger"
    },
    {
      "createdAt": "2023-12-10T17:26:36.183Z",
      "updatedAt": "2023-12-10T17:26:36.183Z",
      "id": "frk5Ps2POrmmqrWL",
      "name": "social media"
    },
    {
      "createdAt": "2023-12-10T17:26:38.958Z",
      "updatedAt": "2023-12-10T17:26:38.958Z",
      "id": "s57hAO0IPCwEDIpV",
      "name": "wordpress"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-29T16:43:15.000Z",
  "versionId": "9558b487-0220-43ef-82a1-167287d61ae0"
}