workflows/Trigger - When Wordpress Post Updated.json
{
  "active": true,
  "connections": {
    "Extract blog title, post excerpt, url and thumbnail": {
      "main": [
        [
          {
            "node": "Indexing - Google Search API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract blog title, post excerpt, url and thumbnail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-11-30T00:44:34.882Z",
  "id": "xWd6ztsX76TnmtQe",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Trigger - When Wordpress Post Updated",
  "nodes": [
    {
      "parameters": {
        "workflowId": "KpGzjZailbovROgs",
        "options": {}
      },
      "id": "a914c573-36c2-4fa9-baad-0a4aa85ac80e",
      "name": "Indexing - Google Search API",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        900,
        180
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "pinterest_image",
              "stringValue": "={{ $json.data.acf_data.pinterest_image.url}}"
            }
          ]
        },
        "include": "selected",
        "includeFields": "body.post_id, body.post.post_title, body.post.post_excerpt, body.post_permalink, body.post_thumbnail, body.post.post_date, body.post.post_content, body.post_meta.rank_math_description, body.post_meta.rank_math_focus_keyword",
        "options": {}
      },
      "id": "04df1f5b-6e68-4bdc-ad9c-89e0a6a93519",
      "name": "Extract blog title, post excerpt, url and thumbnail",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        680,
        180
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b9f93c09-52e5-45f7-a925-a55f658fa1ce",
        "options": {}
      },
      "id": "9a7f9b01-d044-4174-a5a8-87df1fadd957",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        460,
        180
      ],
      "webhookId": "b9f93c09-52e5-45f7-a925-a55f658fa1ce"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-12-10T17:31:34.521Z",
      "updatedAt": "2023-12-10T17:31:34.521Z",
      "id": "BRfKluWg5qi3cy1f",
      "name": "id-1"
    },
    {
      "createdAt": "2023-12-10T17:26:58.523Z",
      "updatedAt": "2023-12-10T17:26:58.523Z",
      "id": "LJ3uQ8V8cEQRSH0W",
      "name": "trigger"
    },
    {
      "createdAt": "2023-12-10T17:26:36.183Z",
      "updatedAt": "2023-12-10T17:26:36.183Z",
      "id": "frk5Ps2POrmmqrWL",
      "name": "social media"
    },
    {
      "createdAt": "2023-12-10T17:26:38.958Z",
      "updatedAt": "2023-12-10T17:26:38.958Z",
      "id": "s57hAO0IPCwEDIpV",
      "name": "wordpress"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-29T05:13:12.000Z",
  "versionId": "47b346d5-dfe0-4e5f-9e05-0d62a56481e6"
}