workflows/Unfinished - Scrape KLSEScreener.json
{
  "active": false,
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-18T15:55:05.409Z",
  "id": "k63P5ggIsStdfapk",
  "meta": null,
  "name": "Unfinished - Scrape KLSEScreener",
  "nodes": [
    {
      "parameters": {
        "url": "=https://www.klsescreener.com/v2/news/index/{{ $json.page_num }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/javascript, */*; q=0.01"
            },
            {
              "name": "accept-language",
              "value": "en-US,en;q=0.9,zh-CN;q=0.8,zh;q=0.7"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0 Safari/537.36"
            },
            {
              "name": "x-requested-with",
              "value": "XMLHttpRequest"
            }
          ]
        },
        "options": {}
      },
      "id": "7b8a18b7-09eb-4939-b42e-71eaf283329b",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "page_num",
              "stringValue": "={{ $json.page_num }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c0e0bc08-7f39-41cf-873b-82b78d2a9d3b",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "path": "785cafdd-effc-4358-b7fd-bf5d9ef4aab2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f36cd50e-3409-4498-a9c5-26cb463f63d0",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        300,
        200
      ],
      "webhookId": "785cafdd-effc-4358-b7fd-bf5d9ef4aab2"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9f1083b3-a404-4a5a-bdea-3977ff6df320",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "content": "Check out for more info: https://colab.research.google.com/drive/1KksNzKcGVPRmVNOPeppNH9aNVlY_5kI-\n\nneed to pass page_num behind the webhook"
      },
      "id": "c63c5259-aada-4773-862b-56340cddf750",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        100
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-12-18T16:13:53.000Z",
  "versionId": "03577375-9966-499e-8601-45ffc4a2c718"
}